<h1>New page for the Surveys</h1>
<br><br>
<form action="/survey/new" method="post">
  Title Your Survey:
  <br>
  <input type="text" name="title" placeHolder="Title" >
  <br>







  <input type="submit" value="Create New Survey">
</form>
