<h1>New page for the Surveys</h1>

<form action="/survey/new" method="post">
  <div><input type="text" name="title" placeHolder="Title"></div>
  <div><input type="submit" value="Create New Survey"></div>
</form>