<div id="signup">
  <form action="/signup" method="post">
    <div class="field">
      <label class="label-for">Full Name:</label>
      <input type="text" name="name" placeholder="What's your name?">
    </div>

    <div class="field">
      <label class="label-for">Password:</label>
      <input type="password" name="password_digest" placeholder="Shh..it's secret">
    </div>

    <div class="field">
      <label class="label-for">E-mail:</label>
      <input type="text" name="email" placeholder="Where can I contact you?">
    </div>

    <div class="field">
      <label class="label-for">Age:</label>
      <input type="text" name="age" placeholder="How old are you now?">
    </div>

    <div class="field">
      <label class="label-for">Gender:</label>
      <select name="gender">
        <option>Male</option>
        <option>Female</option>
        <option>Everything in between</option>
      </select>
    </div>

    <input type="submit" value="create">
  </form>
</div>
