<!DOCTYPE html>
<html lang="en">

  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <!-- <link rel="stylesheet" href="/css/application.css">  -->
  <!-- Bootstrap -->



  <head><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>








    <title></title>
  </head>
  <body>
    <div id="content">
      <header>
        <div id="login-toolbar">
        <%=erb :navbar%>

        </header>
        <%= yield %>
      </div>
    </body>
    </html>
