<div class="heading">
  <h1>Survey Gorilla</h1>
  <hr>
  <br>
</div>

<a href= "#"> Create Survey </a>

<div class="survey-container">
  <%surveys.each do |survey|%>
  <ul>
    <li><a href="#"><%=survey.title%></a></li>
  </ul>
    <%end%>
</div>
